

//--------------------------------------
// colour utility.

// from: https://www.sitepoint.com/hsb-colors-with-sass/
// adopted to also work with saturation = 0.
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  }
  @elseif $s-hsb == 0 {
    @return hsla($h-hsb, 0, $b-hsb, $a);
  }
  @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    // @debug "#{$s-hsl} = (#{$b-hsb}/2) * (2 - (#{$s-hsb}/100))";

    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}





$base-color: 30;
$secondary-color: 258;





//--------------------------------------
// bootstrap.

// bootstrap configuration.
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: false;
$enable-validation-icons: false;
$enable-smooth-scroll: false;

$enable-deprecation-messages: true;


// import bootstrap.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


// colors
$primary: hsb($base-color, 12%, 89%);
$secondary: #99A4CF;


$theme-colors: map-remove(
  $theme-colors,
  "info", "warning", "light", "dark");

$theme-colors: map-merge(
  $theme-colors, (
    "primary": $primary,
    "secondary": $secondary
  ));


// don't remove "xs" here, as it breaks shadow and nav-expand-sm.
$grid-breakpoints: map-remove(
  $grid-breakpoints,
   "xl", "xxl");

$container-max-widths: map-remove(
  $container-max-widths,
  "xs", "xl", "xxl");



@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";


//--------------------------------------
// bootstrap overrides.


.border-lg {
  border-left-width: 0.4rem !important;
}


small {
  font-size: 0.8rem;
}


hr {
  opacity: 0.4;

  &:not([size]) {
    height: 0.05rem;
  }
}


.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
  margin-bottom: 2.8rem !important;
}


.card {
  background-color: hsla(0, 0%, 100%, 0.6);
  border: 0.05rem solid hsla(0, 0%, 0%, 0.125);
}

.card:hover {
  background-color: hsla(0, 0%, 100%, 0.85);
  border: 0.05px solid hsla(0, 0%, 0%, 0.25);
}


.shadow-around {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.shadow-around-lt {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}



button {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.09);
  }
}

.form-control:focus {
  border-color: hsb($base-color, 14%, 60%);
  box-shadow: 0 0 0 0.25rem hsb($base-color, 7%, 91%);
}



h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: hsb($base-color, 82%, 36%);

  &:hover {
    text-decoration: none;
    color: hsb($base-color, 89%, 45%);
  }
}


a {
  text-decoration: none;
  color: hsb($secondary-color, 52%, 76%);

  &:hover {
    text-decoration: underline;
    color: hsb($secondary-color, 89%, 45%);
  }
}

a.boxed {
  @extend .card;
  display: inline-block;
  padding: 0.2rem 0.4rem;

  &:hover {
    text-decoration: none;
    background-color: hsb(0, 0%, 100%, 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
  }
}

div.d-flex a.boxed {
  flex-grow: 1;
  text-align: center;

  padding: 0.35rem 0.7rem;
  margin-right: 0.8rem;

  &:last-child {
    margin-right: 0;
  }
}




//--------------------------------------
// page frame styles.




html body {
  background: hsb($base-color, 4%, 94%);
  overflow-y: scroll;
  line-height: initial;
}

#page {
  background: hsb($base-color, 2%, 98%);
  padding-bottom: 3rem;
  margin-bottom: 6rem;
}

#centre, .navbar-brand {
  font-family: "Droid Serif", "droid_serifregular", Cambria, Georgia, serif;
}

#text {
  font-size: 1.05rem;
  line-height: initial;

  color: hsb($base-color, 76%, 28%);

  p {
    margin-bottom: 0.6rem;
  }
}


#side {
  @include media-breakpoint-up(sm) {
    padding-left: 1.2rem;
    padding-top: 0.8rem;

    position: sticky;
    top: 0.6rem;
    align-self: start;

    hr:first-child {
      display: none;
    }
  }
}

//--------------------------------------
// nav bar



nav.navbar {
  @include media-breakpoint-up(lg) {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .navbar-nav {
    .nav-item .nav-link {
      padding: 0.5rem 0.4rem 0.3rem 0.4rem;
      margin: 0rem 0.4rem;
    }

    .nav-item a:focus {
      padding-bottom: 0.1rem;
      border-bottom: 0.2rem solid hsb($base-color, 10%, 70%, 0.4);
      outline: none;
    }

    .nav-item.active .nav-link,
    .nav-item [aria-current],
    .nav-item a:hover {
      padding-bottom: 0.1rem;
      border-bottom: 0.2rem solid hsb($base-color, 10%, 20%, 0.4);
      outline: none;
      text-decoration: none;

      &:focus {
        border-bottom: 0.2rem solid hsb($base-color, 14%, 50%, 0.4);
      }
    }
  }
}




//--------------------------------------
// icons, as inline svg.

.icon {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  vertical-align: bottom;

  color: hsb($base-color, 76%, 28%);

  svg {
    width: auto !important;
    height: auto !important;

    vertical-align: initial;

    path {
      fill-opacity: 0;
    }

    g, &.bi {
      path {
        fill-opacity: 1;
        fill: currentColor;
      }
    }
  }

  &.top {
    vertical-align: top;
  }

  &.restrained {
    opacity: 0.5;
  }

  &.large {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
  }

  &.mr-2 {
    margin-right: 0.4rem;
  }
}



//--------------------------------------
// Loading indicator

.loading {
  display: flex;
  width: 80%;
  margin: 1em auto;
  align-items: center;

  .lined {
    flex-grow: 1;
    background-color: currentColor;
    opacity: 0.4;
    height: 0.05rem;
  }

  .centre {
    // min-width: 20%;
    text-align: center;
    flex-grow: 0;
    padding: 0 3rem;
  }
}


.btn.loading {
  @extend .btn;

  display: inline-block;
  width: initial;
  margin: 0;

  &.btn-primary {
    background-color: hsb($base-color, 6%, 94%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  }
}


//--------------------------------------
// cards (for stories)

.cards {
  .card {

    &:hover {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    }
  }
}



//--------------------------------------
// editing: category tree and tags

ul.category {
  &, ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    padding-left: 1rem;
    border-left: 0.5rem solid hsb(0, 0, 0, 0.04);

    &:hover {
      border-left: 0.5rem solid hsb(0, 0, 0, 0.12);
    }

    &.link {
      padding-left: 0rem;
      border-left: 0;
    }

    &.group {
      margin: 0.6rem 0;
    }
  }

  div {
    // border-bottom: 0.05rem solid hsb($base-color, 36%, 82%);
    // margin-left: -0.4rem;
  }

  div, a {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    margin-left: -0.4rem;
  }
}


.tags {
  a {
    display: inline-block;
    padding: 0.15rem 0.3rem;
    background: hsb($secondary-color, 24%, 86%, 0.3);
    border: 0.05rem solid hsb($secondary-color, 24%, 86%, 0);

    &:hover {
      background: hsb($secondary-color, 12%, 98%, 0.8);
      border: 0.05rem solid hsb($secondary-color, 32%, 90%, 1);
      text-decoration: none;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
    }
  }
}


//--------------------------------------
// editing: explanation lists

dl.commands {
  dt {
    @extend .font-monospace;
    @extend .text-nowrap;

    background: hsb(0, 0%, 100%, 0.8);
    border: 0.05rem solid hsb(0, 0%, 0%, 0.2);
    padding: 0.2rem 0.4rem;
    font-weight: normal;

    margin-top: 0.3rem;
  }
}


textarea.larger {
  min-height: calc(1.5em + 9rem + 2px);
}



//--------------------------------------
// log


.action-log {
  border-left: 0.4rem solid hsb($base-color, 10%, 90%);
  padding-left: 0.6rem;
  margin-left: 1rem;
}



//--------------------------------------
// options.


.options {
  .list-group-item {
    background-color: inherit;
    border: none;
    width: auto;

    border-left: 0.4rem solid hsb($base-color, 10%, 90%);
    padding-left: 0.6rem;
    margin-left: 1rem;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.4rem;

    &:hover, &:focus {
      background-color: hsb($base-color, 6%, 94%);
      outline: 0.1rem dashed hsla($base-color, 84%, 20%, 0.7);
    }

    &:disabled {
      border-left-color: hsb($base-color, 0%, 90%);
    }
  }
}


//--------------------------------------
// character state.

#state {
  .list-group-item {
    background-color: inherit;
    padding: 0.2rem 0rem 0.2rem 0.4rem;
    border: none;
  }
}
