
// bootstrap configuration.
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: false;
$enable-validation-icons: false;
$enable-smooth-scroll: false;

$enable-deprecation-messages: true;


// import bootstrap.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


// colors
$primary: $purple; // #abc;
$secondary: $cyan; // #def;


$theme-colors: map-remove(
  $theme-colors,
  "info", "warning", "light", "dark");

$theme-colors: map-merge(
  $theme-colors, (
    "primary": $primary,
    "secondary": $secondary
  ));


// don't remove "xs" here, as it breaks shadow and nav-expand-sm.
$grid-breakpoints: map-remove(
  $grid-breakpoints,
   "xl", "xxl");

$container-max-widths: map-remove(
  $container-max-widths,
  "xs", "xl", "xxl");



@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";





//----------


.border-lg {
  border-left-width: 0.4rem !important;
}


small {
  font-size: 0.8rem;
}




.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
  margin-bottom: 2.8rem !important;
}

//----------



// from: https://www.sitepoint.com/hsb-colors-with-sass/
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  }
  @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}



$base-color: 30;

html body {
  background: hsb($base-color, 4%, 94%);
  overflow-y: scroll;
  line-height: initial;
}

#page {
  background: hsb($base-color, 2%, 98%);
  padding-bottom: 3rem;
  margin-bottom: 6rem;
}

#centre, .navbar-brand {
  font-family: "Droid Serif", "droid_serifregular", Cambria, Georgia, serif;
}

#text {
  font-size: 1.05rem;
  line-height: initial;

  color: hsb($base-color, 76%, 28%);

  p {
    margin-bottom: 0.6rem;
  }
}


#side {
  @include media-breakpoint-up(sm) {
    padding-left: 1.2rem;
    padding-top: 0.8rem;

    position: sticky;
    top: 0.6rem;
    align-self: start;

    hr:first-child {
      display: none;
    }
  }
}



nav.navbar {
  @include media-breakpoint-up(lg) {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .navbar-nav {
    .nav-item .nav-link {
      padding: 0.4rem;
      margin: 0rem 0.4rem;
    }

    .nav-item.active .nav-link,
    .nav-item [aria-current],
    .nav-item a:focus, .nav-item a:hover {
      padding-bottom: 0.2rem;
      border-bottom: 0.2rem solid hsb($base-color, 10%, 20%, 0.4);
      outline: none;
    }
  }
}



//--------------------------------------
// log


.action-log {
  border-left: 0.4rem solid hsb($base-color, 10%, 90%);
  padding-left: 0.6rem;
  margin-left: 1rem;
}



//--------------------------------------
// options.


.options {
  .list-group-item {
    background-color: inherit;
    border: none;
    width: auto;

    border-left: 0.4rem solid hsb($base-color, 10%, 90%);
    padding-left: 0.6rem;
    margin-left: 1rem;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.4rem;

    &:hover, &:focus {
      background-color: hsb($base-color, 6%, 94%);
      outline: 0.1rem dashed hsla($base-color, 84%, 20%, 0.7);

    }

    &:disabled {
      border-left-color: hsb($base-color, 0%, 90%);
    }
  }
}



//--------------------------------------
// icons, as inline svg.

.icon {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  vertical-align: top;

  svg {
    width: auto !important;
    height: auto !important;

    vertical-align: initial;

    path {
      fill-opacity: 0;
    }

    g {

      path {
        fill-opacity: 1;
        fill: hsb($base-color, 30%, 60%);
      }
    }
  }
}


//--------------------------------------
// character state.

#state {
  .list-group-item {
    background-color: inherit;
    padding: 0.2rem 0rem 0.2rem 0.4rem;
    border: none;
  }
}
